.books-bg {
    background-image: url('../assets/bgbook.png');
    background-size: cover; /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-position: center; /* Keeps the image centered */
    background-attachment: fixed; /* Fixes the image while scrolling */
    width: 100%; /* Ensures the background spans the full width of the viewport */

  }
  
